---
action: 'shop:cart'
template: default
protocol: all
published: true
name: Cart
url: /cart
---
{{ open_form({'class': 'custom'}) }}
{% if itemCount %}
	<table>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Price</th>
	    {% if cart.getDiscountTotal() > 0 %}
	      <th>Discount</th>
	      <th>Unit Price</th>
	    {% endif %}
		</tr>
	  {% for item in items %}
		<tr>
			<td>
				<a class="hide-for-small" href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(160, 160)|default('http://placehold.it/160x160') }}"/></a>
				<h3><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h3>
				{% set description = item.optionsString() %}
				{% if description %}<p>{{ description|unescape }}</p>{% endif %}
			</td>
			<td class="narrow"><input type="text" name="item_quantity[{{ item.key }}]" value="{{ item.quantity }}"></td>

	<!--
			<td>Items go here</td>
			<td>Quantity goes hre</td>  
	ETC...-->
		</tr>
		{% endfor %}
	</table>
{% else %}
<h2>Your cart is empty! Continue shopping.</h2>
{% endif %}
{{ close_form() }}