---
action: 'shop:passwordRestore'
description: 'Displays the password restore form.'
template: default
protocol: all
published: true
name: 'Password Restore'
url: '/password-restore/:hash!'
---
{% if (hash) and not (invalidHash) %}

    {{ open_form({'data-ajax-handler': 'shop:passwordRestore', 'data-ajax-redirect' : '/login', 'data-validation-message' : ''}) }}
    <p>Please enter a new password for your account below and confirm the change.</p>

    <label for="password">New password</label>
    <input type="password" id="password" name="password" value=""/>
    <span class="error"></span>
    <label for="passwordConfirm">Password confirmation</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" value=""/>
    <span class="error"></span>
    
    <input type="hidden" name="redirect" value="{{ root_url('/login') }}"/>
    <input type="hidden" name="passwordRestoreSubmit" value="1">
    <input type="hidden" name="success_message" value="Your password was successfully changed. Please login with your new password.">
    <p><input type="submit" class="button" value="Set new password" name="password_restore_submit"/></p>
    {{ close_form() }}

{% else %}

    {{ open_form({'data-ajax-handler': 'shop:passwordRestore', 'data-ajax-update' : '#passwordRestoreRequestForm=shop-passwordrestorerequest', 'data-validation-message' : ''}) }}
    <div id="passwordRestoreRequestForm">
        {% if invalidHash %}
            <span class="error">Invalid or expired link.</span>
        {% endif %}
        <p>Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>
        <label for="email">E-mail Address</label>
        <input type="text" id="email" name="email"/>
        <span class="error"></span>

        <input type="hidden" name="requestPasswordRestore" value="1">
        <input type="hidden" name="successMessage" value="Password restore email was sent."/>
        <p><input type="submit" class="button" value="Submit" name="passwordRestoreSubmit"/></p>
    </div>
    {{ close_form() }}

{% endif %}