@import "bourbon";
@import "neat";
// Sign-in
.login-register-wrap { @include outer-container;
	section { @include span-columns(6);
		h3 { @include fill-parent; }
		label { @include fill-parent; }
		input { @include fill-parent; }
		.button { width: auto; }
	}
}
// Breadcrumbs
.breadcrumbs{
	.crumb {
		display: inline;
		list-style: none;
		text-style: none;
	}
	:not(:last-child):after {
		content: "/";
		margin-left: 5px;
	}
}