@import "reset";
@import "bourbon";
@import "responsive";
@import "neat";
@import "style";

body {
	position: relative;
  min-height: 100vh;
  padding-bottom: 283px;
}
.wrapper {
	@include outer-container;
}
.fill-parent {
	@include span-columns(12);
	@include omega();
}
// Header
header {
	width: 100%;
	background: $headergrey;
	margin-bottom: 83px;
}
section {
	@include outer-container;
	#home-details {
		@include span-columns(6);
		h1 {
			margin-bottom: 0.25em;
			&:last-of-type {
				margin-bottom: 1em;
			}
		}
		.coupon {
			color: $progress-green;
		}
		a {
	    @include span-columns(4 of 6);
	    @include shift(1);
	    margin-top: 1em;
	    margin-bottom: 0.75em;
	    width: 280px;
	    text-align: center;
		}
	}
	.carousel-wrap {
		@include span-columns(6);
		#featured-carousel {
			position: relative;
			overflow: auto;
			ul li {
				float: left;
				figure {
					margin-bottom: $base-spacing*2;
					a img {
						display: block;
						width: 100%;
						height: auto;
						border: 1px solid $lightgrey;
					}
					// figcaption {
					// 	h3 {
					//     font-weight: $heavy;
					//     margin: 0.5em 0 0.5em 0;
					// 	}
					// 	h2 {
					//     color: $grey;
					//     font-weight: $light;
					//     display: inline;
					// 	}
					// }
				}
			}
		}
	}
}
nav {
	@include span-columns(12);
	ul {
		float: right;
		margin: 0;
		padding: 0;
		li {
		  position: relative;
		  @include transition(all 0.2s);
			display: inline-block;
			padding: $base-spacing;
		}
		li:hover {
		  background: #555 !important;
		  a {
		  	color: $white;
		  }
		}
	}
}
#logo {
	float: left;
	padding: 13px;
}
.home-banner {
	max-width: none;
}
.banner {
	@include span-columns(12);
  background: url(../images/bones-banner.png) no-repeat;
  height: 400px;
  text-align: center;
  background-size: cover;
  h1 {
  	color: white;
		padding: 161px;
    font-size: 4em;
  }
}
// Body
#featured-content {
	text-align: center;
	padding: 3em 0 3em 0;
	background-color: $headergrey;
	max-width: none;
	h1 {
		margin-bottom: 1em;
	}
	p {
		@include shift(3);
		@include span-columns(6);
		@include omega;
	}
	.button {
		@include shift(5);
		@include span-columns(2);
		margin-top: 2em;
	}
}
#featured-collection {
	h1 {
		margin: 38px 0 56px 0;
	}
}
.featured-product {
	@include span-columns(3);
	img {
		border: 1px solid $lightgrey;
	}
}
// Shop Page
.nav-wrap {
	@include span-columns(12);
	@include omega();
	margin-top: $base-spacing;
	ul {
		clear: both;
		text-align: center;
		li {
			display: inline;
	    padding: 1em;
	    a {
	    	// color: $grey;
	    }
		}
		.active {
			a {
				color: $grey;
			}
		}
	}	
}
.shop-product {
	@include span-columns(4);
	margin-bottom: 1em;
	figure {
		text-align: center;
		img {
			border: 1px solid $lightgrey;
		}
	}
}
.shop-product:nth-child(3n+3) {
	margin-right: 0px;
}
.product-information {
	padding: 0 10px;
}

// Product page
.product-wrap {
	#product-form {
		@include span-columns(5);
		.product-quantity {
			@include span-columns(1 of 6);
			height: 43px;
			text-align: center;
		}
		.product-add {
			@include span-columns(5 of 6);
			@include omega();
			text-align: center;
		}
		.product-extras + div {
			margin-right: 0;
			margin-bottom: 1em;
		}
		.product-attributes {
	    margin: 1em 0 1em 0;
			h2 {
				display: inline-block;
				font-size: $small;
				margin: 0.25em;
		    margin-left: 0;
			}
			h3 {
				display: inline;
			}
		}
	}
	hr {
	  margin-top: 3em;
		margin-bottom: 2em;
	}
}

.product-extras {
	@include span-columns(3 of 6);
	font-size: 20px;
	input {
		font-size: 1em;
		margin: 0;
	}
	.extra-price {		
		font-size: 0.75em;
	}
	img {
		display: block;
		border: 1px solid $lightgrey;
	}
	label {
		display: block;
	}
}

.product-image-grid {
	@include span-columns(6);
	@include shift(1);
	@include omega();
	img {
		border: 1px solid $lightgrey;
	}
}
.product-description {
	@include span-columns(8);
	@include omega();
}
.product-related {
	@include span-columns(3);
}
// Cart page
#cart-table {
	@include outer-container;
	tr {
		@include fill-parent;
		@include row(table);
		td {
			vertical-align: top;
			text-align: right;
			.continue-shopping {
				margin-right: 1em;
				line-height: 4em;
			}
			h1 {
				text-align: left;
			}
		}
		.cart-image {
			@include span-columns(2);
			text-align: left;
		}
		.cart-name {
			@include span-columns(5);
			text-align: left;
		}
		.cart-item-price {
			@include span-columns(1);
		}
		.cart-item-total {
			@include span-columns(1);
		}
		.cart-quantity {
			@include span-columns(2);
			line-height: 63px;
			input {
				width: 79px;
			}
		}
		.cart-remove {
			@include span-columns(1);
			line-height: 63px;
			h4 {
				margin: 0;
			}
		}
		.cart-subtotal {
			margin-bottom: 1em;
		}
	}
}
#checkout-progress {
	@include outer-container;
	tr {
		@include row(table);
		text-align: center;
	}
	tr:first-child {
		td {
			p {
		    padding: 0.25em 1.125em 0.25em 0.625em;
		    width: 0px;
		    margin: auto;
		    background-color: rgb(216, 216, 216);
		    color: white;
		    border-radius: $base-border-radius;
			}
			&::after {
				z-index: -9;
				position: relative;
		    content: " ";
		    margin-top: -18px;
		    margin-left: -50%;
		    width: 384px;
		    height: 6px;
		    background-color: rgb(216, 216, 216);
		    display: block;
			}
			&:first-child:after {
				width: 0px;
			}
		}
		.current-step {
			p {
				background-color: $progress-green;
			}
			&::after {
				background-color: $progress-green;
			}
		}
	}
	tr:nth-child(2) {
    margin-top: 1.5em;
    margin-bottom: 2em;
	}
	tr:nth-child(2) {
		.grey {
			color: $grey;
		}
	}
}
// Checkout Start Page
.checkout-start-login {
	@include span-columns(5);
	input {
		@include fill-parent;
	}
}
.forgotpass {
	font-style: italic;
	margin: -37px 1em 38px 0;
	text-align: right;
}
.checkout-start-guest {
	@include span-columns(5);
	@include shift(1);
	a {
		@include fill-parent;
		display: block;
		text-align: center;
	}
}
// Checkout Process
#delivery-billing-info {
	@include outer-container;
	.billing-summary {
		@include span-columns(7.5);
		border-right: 1px solid $grey;
		padding-right: percentage(1/24);
		margin-right: 0;
		#billing-form {
			@include span-columns(6 of 7);
			float: none;
			margin-top: 1em;
			input,textarea,select {
				@include fill-parent;
			}
			a {
				float: right;
			}
			input[type="checkbox"] {
				width: auto;
			}
			h4 {
				display: inline-block;
			}
			.billing-first-name {
				@include span-columns(3 of 6);
			}
			.billing-last-name {
				@include span-columns(3	of 6);
				@include omega();
			}
			.billing-email {
				@include span-columns(6 of 6);
				@include omega();
			}
			.billing-address {
				@include span-columns(6 of 6);
				@include omega();
			}
			.billing-city {
				@include span-columns(3 of 6);
			}
			.billing-postal-code {
				@include span-columns(3 of 6);
				@include omega();
			}
			.billing-country {
				@include span-columns(3 of 6);
			}
			.billing-state {
				@include span-columns(3 of 6);
				@include omega();
			}
			.billing-phone {
				@include span-columns(6 of 6);
			}
			#shipping-form {
				@include span-columns(6 of 6);
				.shipping-first-name {
					@include span-columns(3 of 6);
				}
				.shipping-last-name {
					@include span-columns(3	of 6);
					@include omega();
				}
				.shipping-email {
					@include span-columns(6 of 6);
					@include omega();
				}
				.shipping-address {
					@include span-columns(6 of 6);
					@include omega();
				}
				.shipping-city {
					@include span-columns(3 of 6);
				}
				.shipping-postal-code {
					@include span-columns(3 of 6);
					@include omega();
				}
				.shipping-country {
					@include span-columns(3 of 6);
				}
				.shipping-state {
					@include span-columns(3 of 6);
					@include omega();
				}
				.shipping-phone {
					@include span-columns(6 of 6);
				}
			}
			ul {
				@include fill-parent;
				background-color: $lightgrey;
				border: 1px solid $grey;
				padding: $small-spacing;
				margin-bottom: 0;
				li {
					font-size: $tiny;
					font-weight: $light;
					margin-bottom: 0.1em;
					&:first-child {
						float: left;
					}
					&:nth-child(2) {
						float: right;
					}
					&:nth-child(3) {
						clear: both;
					}
				}
			}
		}
		#delivery-form {
			@include span-columns(6 of 7);
			label {
				@include fill-parent;
				font-size: $small;
				font-weight: $light;
				color: $black;
				margin-top: $small-spacing;
				.delivery-cost {
					float: right;
				}
			}
			a {
				@include fill-parent;
				display: block;
				text-align: center;
				margin-top: $base-spacing;
			}
		}
		#pay-form {
			@include span-columns(6 of 7);
			margin-top: $small-spacing;
			label {
				@include fill-parent;
			}
			#payment_form {
				ul.form {
					@include span-columns(6 of 6);
					input {
						@include fill-parent;
					}
					li:first-child {
						@include span-columns(3 of 6);
					}
					li:nth-child(2) {
						@include span-columns(3 of 6);
						@include omega();
					}
					li:nth-child(3) {
						@include fill-parent;
						@include omega();
					}
					li:nth-child(n+4) {
						@include span-columns(2 of 6);
					}
					li:last-child {
						@include omega();
						label {
							display: none;
						}
						&::before {
							content: "<label>CVC</label>";
							content: "CVC";
							display: block;
							color: #9b9b9b;
							font-size: 0.75019em;
							font-weight: 200;
							margin-bottom: 0.375em;
						}
					}
				}
				.button {
					@include fill-parent;
					display: block;
					text-align: center;
					margin-top: $base-spacing;
					background-color: $action-color;
					color: $white;
					font-weight: $heavy;
					padding: $small-spacing $base-spacing;
					&:hover,
					&:focus {
						background-color: shade($action-color, 20%);
						color: $white;
					}
				}
			}
		}
	}
	.order-summary {
		@include span-columns(4);
		margin-left: percentage(1/24);
		.order-summary-description {
			@include span-columns(2 of 4);
		}
		.order-summary-amount {
			@include span-columns(2 of 4);
			text-align: right;
		}
	}
}
#receipt {
	@include outer-container;
	.receipt-items {
		@include fill-parent;
		tr {
			@include fill-parent;
			@include row(table);
			padding: $base-spacing;
			border: 1px solid $grey;
			td:first-child {
				@include span-columns(5);
				@include shift(1);
			}
			td:nth-child(n+2) {
				@include span-columns(3);
			}
		}
		tr:first-child {
			background-color: $lightgrey;
			border-bottom: none;
		}
	}
	.receipt-totals {
		@include span-columns(3);
		@include shift(9);
		.receipt-totals-description {
			@include span-columns(2 of 4);
		}
		.receipt-totals-amount {
			@include span-columns(2 of 4);
			@include omega();
			text-align: right;
		}
		a {
			@include fill-parent;
			clear: both;
			display: block;
			text-align: center;
		}
	}
	hr {
		margin: 2em 0 2em 0;
	}
}
// Footer
footer {
	height: 200px;
	background: $headergrey;
	bottom: 0;
	position: absolute;
	width: 100%;
	ul {
		@include span-columns(2);
		margin-top: 55px;
		li {
			color: $grey;
			margin-bottom: 0.5em;
			font-size: 14px;
			font-weight: $light;
		}
	}
	#copyright {
		@include span-columns(8);
		text-align: right;
		margin-top: 70px;
	}
}
// Sign-in
.login-register-wrap {
	@include outer-container;
	section {
		@include span-columns(6);
		h3 { @include fill-parent; }
		label { @include fill-parent; }
		input { @include fill-parent; }
		.button { width: auto; margin-top: $small-spacing;}
	}
}
// Breadcrumbs
.breadcrumbs {
	float: left;
	display: block;
	margin: 0 0 65px 0;
	width: 100%;
	font-size: 1em;
	ul {
		margin: 0;
	}

	.crumb {
		display: inline;
		list-style: none;
	}
	:not(:last-child):after {
			content: ">";
			margin-left: 5px;
	}
}
// Unslider.js Style
#featured-carousel{
  padding:0;
}
#featured-carousel ul{
  list-style: none;
  padding-left:0;
  margin: 0;
}
#featured-carousel ul li{
  list-style: none;
  margin:0 auto;
  float:left;
}
#featured-carousel ul li img{
  width:90%;
  display:inline-block;
  margin:0 auto;
}
.unslider-arrow{
  position:absolute;
  top:70px;
  left:0;
}
.unslider-arrow:hover{
  cursor:pointer;
}
#featured-carousel .next{
  right:0;
  text-align: right;
}
#loading-indicator{
  z-index: 99999;
}
.list-group-item{
  border:none;
  border-top:1px solid #f1f1f1;
}

#featured-carousel .dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left:0;
}
#featured-carousel .dots li {
  display: inline-block;
  *display: inline;
  zoom: 1;

  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0 4px;

  text-indent: -999em;
  *text-indent: 0;

  border: 2px solid;
  border-color: tint($action-color, 50%);
  border-radius: 6px;

  cursor: pointer;
  opacity: .9;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
#featured-carousel .dots li.active {
  border: 2px solid $action-color;
  background: tint($action-color, 50%);
  opacity: 1;
}


// 
// 
// MODAL
// 
// 
.modal-fade-open {
  opacity: 1 !important;
  visibility: visible !important;
}
.modal-state {
  display: none !important;
}
.modal-trigger {
	cursor: pointer;
	display: inline;
	h2 {
		color: $link;
		display: inline;
	}
}
.write-review {
	float: right;
	margin-top: 2px;
}
.modal {
	display: inline;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  .modal-fade-screen { 
// overlay
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999;

    @include media($large-screen) {
      padding-top: 2.5em;
    }
  }

  .modal-bg {
    @include position(absolute, 0 0 0 0);
    cursor: pointer;
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $white;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $grey;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($grey, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    background-color: #fff;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    position: relative;
    top: 0.5em;
    transition: opacity 0.25s ease;
    width: 95%;
    max-width: 580px;
    padding: $modal-padding;
    border-radius: 5px;
    h1 {
	    margin: -0.25em 0 0.5em 0;
    }
    @include media($medium-screen) {
      width: 60%;
    }
    @include media($large-screen) {
      width: 50%;
    }
    input, textarea {
    	width: 100%;
    }
    .reviews {
    	margin-top: 1.5em;
    	.review-rating {
    		display: inline;
    	}
    	.review-date {
		    display: inline;
		    margin-left: 1em;
    	}
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }
}
.modal-open {
  overflow: hidden;
}

.modal-closed {
  overflow: auto;
}

// Review Stars!
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: $large;
  span {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  span:hover, span:hover ~ span {
    color: transparent;
  }
  span:hover:before, span:hover ~ span:before {
    content: "\2605";
    position: absolute; 
    color: gold;
  }
  span.select {
    color: transparent;
  }
  span.select:before {
    content: "\2605";
    position: absolute; 
    color: gold;
  }
  p {
    font-size: $tiny;
    margin: 0.5em 0 1em 0;
  }
} 
// Dropdown
.dropdown ul {
  padding: 0;
  position: absolute;
  top: 66px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 9999999;
}
.dropdown ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
.dropdown ul li:hover { background: #666; }
.dropdown:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

