@import "reset";
@import "bourbon";
@import "responsive";
@import "neat";
@import "style";

.wrapper {
  @include outer-container;
}

.fill-parent {
  @include fill-parent;
  border: 1px solid #9B9B9B;
}

// Header
header {
	width: 100%;
	background: $lightgrey;
}

section {
  @include span-columns(12);
  max-width: 1200px;
}

nav {
  @include span-columns(12);
  height: 70px;

  ul {
    float: right;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
		padding: 20px 25px;
  }

  .breadcrumbs {
    float: left;
    color: red;
  }
}

#logo {
    float: left;
}

// Body
#featured-content {
    // @include span-columns(12);
    @include outer-container;
    text-align: center;

		h1 {
			margin: 50px 0 60px 0;
		}
		
    p {
      @include shift(2);
      @include span-columns(8);
      @include omega;
    }

    .button {
      @include shift(4);
      @include span-columns(4);
    }
}

#featured-collection {
	h1 {
		margin: 38px 0 56px 0;
	}
}

.product-featured {
	@include span-columns(3);
}

// Shop Page
.product {
  @include span-columns(4);

  figure {
    text-align: center;
  }
}
.product:nth-child(3n+3) {
  margin-right: 0px;
}
.product-information {
  padding: 0 10px;
}

// Product page
#product-form {
	@include span-columns(6);
}
.product-extras {
	@include span-columns(3 of 6);
	margin-right: 0;
	img {
		display: block;
	}
	label {
		display: inline-block;
	}
}
.product-image-grid {
	@include span-columns(6);
	@include omega();
}
.product-description {
	@include span-columns(8);
	@include omega();
}
.product-related {
	@include span-columns(3);
}
// Cart page
#cart-table {
	@include outer-container;
	tr {
		@include fill-parent;
		@include row(table);
		td {
			vertical-align: top;
			text-align: right;
			.continue-shopping {
				margin-right: 1em;
				line-height: 4em;
			}
			h1 {
				text-align: left;
			}
		}
		.cart-image {
			@include span-columns(2);
			text-align: left;
		}
		.cart-name {
			@include span-columns(5);
			text-align: left;
		}
		.cart-item-price {
			@include span-columns(1);
		}
		.cart-item-total {
			@include span-columns(1);
		}
		.cart-quantity {
			@include span-columns(2);
			input {
				width: 79px;
			}
		}
		.cart-remove {
			@include span-columns(1);
		}
		.cart-subtotal {
			margin-bottom: 1em;
		}
	}
}
// Checkout Start Page
.checkout-start-login {
	@include span-columns(5);
	input {
		@include fill-parent;
	}
	input:last-child {
		margin-top: 1em;
	}
	h4 {
    font-style: italic;
    margin-top: -37px;
    margin-right: 1em;
    text-align: right;
	}
}
.checkout-start-guest {
	@include span-columns(5);
	@include shift(1);
	a {
		@include fill-parent;
    display: block;
    text-align: center;
	}
}
// Checkout Process
#delivery-billing-info {
	@include outer-container;
	.billing-summary {
		@include span-columns(7.5);
    border-right: 1px solid $grey;
    padding-right: percentage(1/24);
    margin-right: 0;
		#billing-form {
			@include span-columns(6 of 7);
			float: none;
			input,textarea,select {
				@include fill-parent;
			}
			a {
		    float: right;
	    }
			input[type="checkbox"] {
				width: auto;
			}
			h4 {
				display: inline-block;
			}
			.billing-first-name {
				@include span-columns(3 of 6);
			}
			.billing-last-name {
				@include span-columns(3	of 6);
				@include omega();
			}
			.billing-email {
				@include span-columns(6 of 6);
				@include omega();
			}
			.billing-address {
				@include span-columns(6 of 6);
				@include omega();
			}
			.billing-city {
				@include span-columns(3 of 6);
			}
			.billing-postal-code {
				@include span-columns(3 of 6);
				@include omega();
			}
			.billing-country {
				@include span-columns(3 of 6);
			}
			.billing-state {
				@include span-columns(3 of 6);
				@include omega();
			}
			.billing-phone {
				@include span-columns(6 of 6);
			}
			#shipping-form {
				@include span-columns(6 of 6);
				.shipping-first-name {
					@include span-columns(3 of 6);
				}
				.shipping-last-name {
					@include span-columns(3	of 6);
					@include omega();
				}
				.shipping-email {
					@include span-columns(6 of 6);
					@include omega();
				}
				.shipping-address {
					@include span-columns(6 of 6);
					@include omega();
				}
				.shipping-city {
					@include span-columns(3 of 6);
				}
				.shipping-postal-code {
					@include span-columns(3 of 6);
					@include omega();
				}
				.shipping-country {
					@include span-columns(3 of 6);
				}
				.shipping-state {
					@include span-columns(3 of 6);
					@include omega();
				}
				.shipping-phone {
					@include span-columns(6 of 6);
				}
			}
			ul {
				@include fill-parent;
				background-color: $lightgrey;
				border: 1px solid $grey;
				padding: $small-spacing;
				margin-bottom: 0;
				li {
					font-size: $tiny;
					font-weight: $light;
					margin-bottom: 0.1em;
					&:first-child {
						float: left;
					}
					&:nth-child(2) {
						float: right;
					}
					&:nth-child(3) {
						clear: both;
					}
				}
			}
		}
		#delivery-form {
			@include span-columns(6 of 7);
			label {
				@include fill-parent;
				font-size: $small;
				font-weight: $light;
				color: $black;
				margin-top: $small-spacing;
				.delivery-cost {
					float: right;
				}
			}
			a {
				@include fill-parent;
		    display: block;
		    text-align: center;
		    margin-top: $base-spacing;
			}
		}
		#pay-form {
			@include span-columns(6 of 7);
			margin-top: $small-spacing;
			label {
				@include fill-parent;
			}
			#payment-form {
				ul.form {
					@include span-columns(6 of 6);
					li:first-child {
						@include span-columns(3 of 6);
					}
					li:nth-child(2) {
						@include span-columns(3 of 6);
						@include omega();
					}
					li:nth-child(3) {
						@include fill-parent;
						@include omega();
					}
					li:nth-child(4) + li {
						@include span-columns(2 of 6);
					}
					li:last-child {
						@include span-columns(2 of 6);
						@include omega();
					}
				}
				.button {
					background-color: $action-color;
					color: $white;
					font-weight: $heavy;
					padding: $small-spacing $base-spacing;
				  &:hover,
				  &:focus {
				    background-color: shade($action-color, 20%);
				    color: $white;
				  }
				}
			}
		}
	}
	.order-summary {
		@include span-columns(4);
    margin-left: percentage(1/24);
    .order-summary-description {
    	@include span-columns(2 of 4);
    }
    .order-summary-amount {
    	@include span-columns(2 of 4);
    	text-align: right;
    }
	}
}


// Footer

footer {
	height: 200px;
	background: $lightgrey;

  ul {
    @include span-columns(2);
    float: left;
    margin: 65px 0 0 0;
  }

  #copyright {
    @include span-columns(8);
    float: right;
    text-align: right;
  }
}

// Sign-in
.login-register-wrap {
    @include outer-container;
    section {
        @include span-columns(6);
        h3 { @include fill-parent; }
        label { @include fill-parent; }
        input { @include fill-parent; }
        .button { width: auto; }
    }
}
// Breadcrumbs
.breadcrumbs {
  float: left;
  display: block;
  margin: 83px 0 65px 0;
  width: 100%;
  font-size: 1em;

    ul {
      margin: 0;
    }

    .crumb {
      display: inline;
      list-style: none;
    }
    :not(:last-child):after {
        content: ">";
        margin-left: 5px;
    }
}
