---
action: 'shop:product'
template: main
protocol: all
published: true
name: Product
url: '/product/:urlName'
---
<!-- open form -->
{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}
  {% if product %}
  {% set on_sale = product.onSale %}

      <div class="wrapper product-wrap" itemscope itemtype="http://schema.org/Product">
        <div id="product-form">
          <h1 class="fill-parent">{{ page.title }}</h1>
          <meta itemprop="name" content="{{ product.name }}" />
          <meta itemprop="sku" content="{{ product.sku }}" />
          <link itemprop="url" href="{{ '/product/' ~ product.url_name }}" />

          <!-- product cost -->
          <h2 class="fill-parent">
            {% if on_sale %}
            <span class="oldprice">{{ product.fullPrice|currency }}</span>
            {% endif %}
            {{ product.price|currency }}
          </h2>

          <!-- product ratings -->
          {% set product_rating = product.rating() %}
          <p>
            {% if product_rating.total_reviews %}
          <span style="margin-right: -4px">
            {% for i in range(1, product_rating.average_int) %}&starf;{% endfor %}
          </span>
          {% if product_rating.average_int != 5 %}{% for i in range(1, 5 - product_rating.average_int) %}&star;{% endfor %}{% endif %}
           ({{ product_rating.total_reviews }})
          {% else %}
          &star;&star;&star;&star;&star;
           (no reviews yet)
          {% endif %}
          </p>
          <label for="modal-1">
            <div class="modal-trigger">write</div>
          </label>
          <input class="modal-state" id="modal-1" type="checkbox" />
          <span>
          {% if product_rating.total_reviews %}

            {{ partial('partial-review-view') }}
          {% else %}
            {{ partial('partial-review-form') }}
          {% endif %}
          </span>
  <!--       <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          Rated <span itemprop="ratingValue">3.5</span>/5
          based on <span itemprop="reviewCount">11</span> customer reviews
        </div>  -->

          <!-- product attributes -->
          {% if product.productAttributes.count %}
            <div class="product-attributes">
              {% for attribute in product.productAttributes %}
                  <h2>{{ attribute.name }}</h2>
                  <h3>{{ attribute.value }}</h3>
                  <br />
              {% endfor %}
            </div>
          {% endif %}

          <!-- product options -->
          {% if product.options.count %}
            {% for index, option in product.options %}
              <label for="{{ 'option-'~index }}">{{ option.name }}</label>
              <select id="{{ 'option-'~index }}" name="options[{{ option.id }}]" data-ajax-handler="shop:product" data-ajax-update="">
                {% for key, value in option.values %}
                  <option value='{{ key }}' {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>
                {% endfor %}
              </select>
            {% endfor %}
          {% endif %}

          <!-- product extras -->
          {% if product.extras.count %}
          <h2>Extras</h2>
            {% for index, extra in product.extras|slice(0, 2) %}
            <div class="product-extras">
                <img src="{{ extra.images.first.thumbnail(230, 230)|default('http://placehold.it/230x230') }}" width="230" height="230" alt="{{ extra.images.first.description }}" title="{{ extra.images.first.title }}"/>
              {% if extra.enabled %}
                <input type="checkbox" id="{{ 'extra-'~index }}" {{ checkbox_state(postedExtras[extra.id], extra.id) }} name="extras[{{ extra.id }}]" data-ajax-handler="shop:product" data-ajax-update="">
              {% else %}
                <input type="checkbox" disabled="disabled">
              {% endif %}
                <label for="{{ 'extra-'~index }}"><h3>{{ extra.name }} ({{ extra.price|currency }})</h3></label>
            </div>
            {% endfor %}

          {% endif %}
          <!-- quantity & add-to-cart -->

          {% if product.enabled %}
            {% if not product.isOutOfStock() or product.allow_preorder %}
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <link itemprop="availability" href="http://schema.org/InStock" />
              <meta itemprop="priceCurrency" content="USD" /> <!-- Should get currency code through variable -->
              <meta itemprop="price" content="{{ product.price }}" />
            </div>
            <label>Quantity</label>
            <input class="product-quantity" type="text" value="{{ quantity|default("1") }}" name="quantity">
            <input type="hidden" name="productId" value="{{ product.id }}"/>
            <a class="button next product-add" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart">Add to Cart</a>
            {% else %}
              <p>
              This product is temporarily unavailable.
              {% if product.om('expected_availability_date', posted_options) %}
              <br/>The expected availability date is <time><strong>{{ product.om('expected_availability_date', posted_options).format('%x') }}</strong></time>
              {% endif %}
              </p>
            {% endif %}
          {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
            <h2>This product is not available.</h2>
          {% endif %}

          <time itemprop="releaseDate" datetime="{{ product.om('expected_availability_date', posted_options).format('%x') }}"></time>

        </div>

        <!-- picture grid -->
        <div class="product-image-grid">
          <figure>
            <a href="{{ page_url }}"><img itemprop="image" src="{{ product.images.first.thumbnail(580, 580)|default('http://placehold.it/580x580') }}" width="580" height="580" alt="{{ product.images.first.description }}" title="{{ product.images.first.title }}"/></a>
          </figure>
        </div>

        <hr class="fill-parent">

        <!-- product details -->
        <h1 class="fill-parent">Product Details</h1>
        <div class="product-description" itemprop="description">
          <h3>{{ product.description|unescape }}</h3>
        </div>

        <!-- related products -->
        {% if product.related.count %}
        <hr class="fill-parent">
        <h1 class="fill-parent">You Might be Into These</h1>
          {% for product in product.related|slice(0, 4) %}
          <div class="product-related">
            <a href="{{ page_url }}"><img itemprop="image" src="{{ product.images.first.thumbnail(280, 280)|default('http://placehold.it/280x280') }}" width="280" height="280" alt="{{ product.images.first.description }}" title="{{ product.images.first.title }}"/></a>
            <p>{{ product.name }}</p>
            <h2 class="cost">
              {% if on_sale %}
              <span class="oldprice">{{ product.fullPrice|currency }}</span>
              {% endif %}
              {{ product.price|currency }}
            </h2>
          </div>
          {% endfor %}
        {% endif %}

      </div>

  {% else %}
  <div class="wrapper">
    <h2>We are sorry, the requested product was not found.</h2>
  </div>
  {% endif %}
{{ close_form() }}


            {{ partial('partial-review-form') }}