---
action: 'shop:product'
template: main
protocol: all
published: true
name: Product
url: '/product/:urlName'
---
<!-- open form -->
{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}
  {% if product %}
  {% set on_sale = product.onSale %}

      <div class="wrapper" itemscope itemtype="http://schema.org/Product">
        <div id="product-form">
          <h1>{{ page.title }}</h1>
          <meta itemprop="name" content="{{ product.name }}" />
          <meta itemprop="sku" content="{{ product.sku }}" />
          <link itemprop="url" href="{{ '/product/' ~ product.url_name }}" />

          <!-- product cost -->
          <h2 class="cost">
            {% if on_sale %}
            <span class="oldprice">{{ product.fullPrice|currency }}</span>
            {% endif %}
            {{ product.price|currency }}
          </h2>

          <select id="item_rating" name="fields[item_rating]">
            <option value="" diabled>-</option>
            <option value="1">&starf;&star;&star;&star;&star;</option>
            <option value="2">&starf;&starf;&star;&star;&star;</option>
            <option value="3">&starf;&starf;&starf;&star;&star;</option>
            <option value="4">&starf;&starf;&starf;&starf;&star;</option>
            <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
          </select>
          <a href="/reviews">View reviews</a>
  <!--       <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          Rated <span itemprop="ratingValue">3.5</span>/5
          based on <span itemprop="reviewCount">11</span> customer reviews
        </div>  -->

          <!-- product attributes -->
          {% if product.productAttributes.count %}
            <table class="attributes">
              {% for attribute in product.productAttributes %}
                <tr>
                  <th>{{ attribute.name }}</th>
                  <td>{{ attribute.value }}</td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}

          <!-- product options -->
          {% if product.options.count %}
            {% for index, option in product.options %}
              <label for="{{ 'option-'~index }}">{{ option.name }}</label>
              <select id="{{ 'option-'~index }}" name="options[{{ option.id }}]" data-ajax-handler="shop:product" data-ajax-update="">
                {% for key, value in option.values %}
                  <option value='{{ key }}' {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>
                {% endfor %}
              </select>
            {% endfor %}
          {% endif %}

          <!-- product extras -->
          {% if product.extras.count %}
          <h2>Product Extras</h2>
            {% for index, extra in product.extras %}
              <label for="{{ 'extra-'~index }}">{{ extra.name }} ({{ extra.price|currency }})</label>
              {% if extra.enabled %}
                  <input type="checkbox" id="{{ 'extra-'~index }}" {{ checkbox_state(postedExtras[extra.id], extra.id) }} name="extras[{{ extra.id }}]" data-ajax-handler="shop:product" data-ajax-update="">
              {% else %}
                  <input type="checkbox" disabled="disabled">
              {% endif %}
            {% endfor %}
          {% endif %}

          <!-- quantity & add-to-cart -->
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% if product.enabled %}
            {% if not product.isOutOfStock() or product.allow_preorder %}
              <link itemprop="availability" href="http://schema.org/InStock" />
              <meta itemprop="priceCurrency" content="USD" /> <!-- Should get currency code through variable -->
              <meta itemprop="price" content="{{ product.price }}" />
              <label>Quantity <input type="text" value="{{ quantity|default("1") }}" name="quantity"></label>
              <input type="hidden" name="productId" value="{{ product.id }}"/>
              <a class="button next" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart">Add to Cart</a>
            {% else %}
              <p>
              This product is temporarily unavailable.
              {% if product.om('expected_availability_date', posted_options) %}
              <br/>The expected availability date is <time><strong>{{ product.om('expected_availability_date', posted_options).format('%x') }}</strong></time>
              {% endif %}
              </p>
            {% endif %}
          {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
            <h2>This product is not available.</h2>
          {% endif %}
          </div>
          <time itemprop="releaseDate" datetime="{{ product.om('expected_availability_date', posted_options).format('%x') }}"></time>
        </div>

        <!-- picture grid -->
        <div class="product-image-grid">
          <figure>
            <a href="{{ page_url }}"><img itemprop="image" src="{{ product.images.first.thumbnail(580, 580)|default('http://placehold.it/580x580') }}" width="580" height="580" alt="{{ product.images.first.description }}" title="{{ product.images.first.title }}"/></a>
          </figure>
        </div>

        <hr class="fill-parent">

        <!-- product details -->
        <h1>Product Details</h1>
        <div class="product-description" itemprop="description">{{ product.description|unescape }}</div>

        <hr class="fill-parent">

        <!-- related products -->
        {% if product.related.count %}
        <h1>You Might be Into These</h1>
          {% for product in product.related|slice(0, 4)%}
          <div class="product-related">
            <a href="{{ page_url }}"><img itemprop="image" src="{{ product.images.first.thumbnail(280, 280)|default('http://placehold.it/280x280') }}" width="280" height="280" alt="{{ product.images.first.description }}" title="{{ product.images.first.title }}"/></a>
            <p>{{ product.name }}</p>
            <h2 class="cost">
              {% if on_sale %}
              <span class="oldprice">{{ product.fullPrice|currency }}</span>
              {% endif %}
              {{ product.price|currency }}
            </h2>
          </div>
          {% endfor %}
        {% endif %}

      </div>

  {% else %}
  <div class="wrapper">
    <h2>We are sorry, the requested product was not found.</h2>
  </div>
  {% endif %}
    </div>
{{ close_form }}
