html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.77966%, transparent 6.77966%, transparent 8.47458%, #eee 8.47458%, #eee 15.25424%, transparent 15.25424%, transparent 16.94915%, #eee 16.94915%, #eee 23.72881%, transparent 23.72881%, transparent 25.42373%, #eee 25.42373%, #eee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eee 33.89831%, #eee 40.67797%, transparent 40.67797%, transparent 42.37288%, #eee 42.37288%, #eee 49.15254%, transparent 49.15254%, transparent 50.84746%, #eee 50.84746%, #eee 57.62712%, transparent 57.62712%, transparent 59.32203%, #eee 59.32203%, #eee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eee 67.79661%, #eee 74.57627%, transparent 74.57627%, transparent 76.27119%, #eee 76.27119%, #eee 83.05085%, transparent 83.05085%, transparent 84.74576%, #eee 84.74576%, #eee 91.52542%, transparent 91.52542%, transparent 93.22034%, #eee 93.22034%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.77966%, transparent 6.77966%, transparent 8.47458%, #eee 8.47458%, #eee 15.25424%, transparent 15.25424%, transparent 16.94915%, #eee 16.94915%, #eee 23.72881%, transparent 23.72881%, transparent 25.42373%, #eee 25.42373%, #eee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eee 33.89831%, #eee 40.67797%, transparent 40.67797%, transparent 42.37288%, #eee 42.37288%, #eee 49.15254%, transparent 49.15254%, transparent 50.84746%, #eee 50.84746%, #eee 57.62712%, transparent 57.62712%, transparent 59.32203%, #eee 59.32203%, #eee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eee 67.79661%, #eee 74.57627%, transparent 74.57627%, transparent 76.27119%, #eee 76.27119%, #eee 83.05085%, transparent 83.05085%, transparent 84.74576%, #eee 84.74576%, #eee 91.52542%, transparent 91.52542%, transparent 93.22034%, #eee 93.22034%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.77966%, transparent 6.77966%, transparent 8.47458%, #eee 8.47458%, #eee 15.25424%, transparent 15.25424%, transparent 16.94915%, #eee 16.94915%, #eee 23.72881%, transparent 23.72881%, transparent 25.42373%, #eee 25.42373%, #eee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eee 33.89831%, #eee 40.67797%, transparent 40.67797%, transparent 42.37288%, #eee 42.37288%, #eee 49.15254%, transparent 49.15254%, transparent 50.84746%, #eee 50.84746%, #eee 57.62712%, transparent 57.62712%, transparent 59.32203%, #eee 59.32203%, #eee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eee 67.79661%, #eee 74.57627%, transparent 74.57627%, transparent 76.27119%, #eee 76.27119%, #eee 83.05085%, transparent 83.05085%, transparent 84.74576%, #eee 84.74576%, #eee 91.52542%, transparent 91.52542%, transparent 93.22034%, #eee 93.22034%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.77966%, transparent 6.77966%, transparent 8.47458%, #eee 8.47458%, #eee 15.25424%, transparent 15.25424%, transparent 16.94915%, #eee 16.94915%, #eee 23.72881%, transparent 23.72881%, transparent 25.42373%, #eee 25.42373%, #eee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eee 33.89831%, #eee 40.67797%, transparent 40.67797%, transparent 42.37288%, #eee 42.37288%, #eee 49.15254%, transparent 49.15254%, transparent 50.84746%, #eee 50.84746%, #eee 57.62712%, transparent 57.62712%, transparent 59.32203%, #eee 59.32203%, #eee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eee 67.79661%, #eee 74.57627%, transparent 74.57627%, transparent 76.27119%, #eee 76.27119%, #eee 83.05085%, transparent 83.05085%, transparent 84.74576%, #eee 84.74576%, #eee 91.52542%, transparent 91.52542%, transparent 93.22034%, #eee 93.22034%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.77966%, transparent 6.77966%, transparent 8.47458%, #eee 8.47458%, #eee 15.25424%, transparent 15.25424%, transparent 16.94915%, #eee 16.94915%, #eee 23.72881%, transparent 23.72881%, transparent 25.42373%, #eee 25.42373%, #eee 32.20339%, transparent 32.20339%, transparent 33.89831%, #eee 33.89831%, #eee 40.67797%, transparent 40.67797%, transparent 42.37288%, #eee 42.37288%, #eee 49.15254%, transparent 49.15254%, transparent 50.84746%, #eee 50.84746%, #eee 57.62712%, transparent 57.62712%, transparent 59.32203%, #eee 59.32203%, #eee 66.10169%, transparent 66.10169%, transparent 67.79661%, #eee 67.79661%, #eee 74.57627%, transparent 74.57627%, transparent 76.27119%, #eee 76.27119%, #eee 83.05085%, transparent 83.05085%, transparent 84.74576%, #eee 84.74576%, #eee 91.52542%, transparent 91.52542%, transparent 93.22034%, #eee 93.22034%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.fill-parent {
  width: 100%; }

header {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  header:last-child {
    margin-right: 0; }
  header::after {
    clear: both;
    content: "";
    display: table; }

nav {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  background: rgba(155, 154, 155, 0.03); }
  nav:last-child {
    margin-right: 0; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav ul {
    float: right;
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block; }

#logo {
  float: left; }

#featured-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #featured-content::after {
    clear: both;
    content: "";
    display: table; }
  #featured-content p {
    margin-left: 16.94915%;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 66.10169%;
    margin-right: 0; }
    #featured-content p:last-child {
      margin-right: 0; }
  #featured-content .button {
    margin-left: 33.89831%;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 32.20339%; }
    #featured-content .button:last-child {
      margin-right: 0; }

#product-form {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%; }
  #product-form:last-child {
    margin-right: 0; }

.product-image-grid {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 49.15254%;
  margin-right: 0; }
  .product-image-grid:last-child {
    margin-right: 0; }

.product-description {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%;
  margin-right: 0; }
  .product-description:last-child {
    margin-right: 0; }

.product-related {
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 23.72881%; }
  .product-related:last-child {
    margin-right: 0; }

.login-register-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .login-register-wrap::after {
    clear: both;
    content: "";
    display: table; }
  .login-register-wrap section {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%; }
    .login-register-wrap section:last-child {
      margin-right: 0; }
    .login-register-wrap section h3 {
      width: 100%; }
    .login-register-wrap section label {
      width: 100%; }
    .login-register-wrap section input {
      width: 100%; }
    .login-register-wrap section .button {
      width: auto; }

.breadcrumbs .crumb {
  display: inline;
  list-style: none; }

.breadcrumbs :not(:last-child):after {
  content: ">";
  margin-left: 5px; }
