html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 70px;
  background: rgba(155, 154, 155, 0.03); }
  nav:last-child {
    margin-right: 0; }
  nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block; }

#logo {
  float: left; }

.login-register-wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .login-register-wrap::after {
    clear: both;
    content: "";
    display: table; }
  .login-register-wrap section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .login-register-wrap section:last-child {
      margin-right: 0; }
    .login-register-wrap section h3 {
      width: 100%; }
    .login-register-wrap section label {
      width: 100%; }
    .login-register-wrap section input {
      width: 100%; }
    .login-register-wrap section .button {
      width: auto; }

.breadcrumbs .crumb {
  display: inline;
  list-style: none;
  text-style: none; }

.breadcrumbs :not(:last-child):after {
  content: "/";
  margin-left: 5px; }
