---
action: 'shop:receipt'
template: main
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---
{% if invoice %}
<div id="receipt">
  <h1>Thanks For Your Order!</h1>
  <p>You're order number is <strong>{{ invoice.order.number }}</strong>. Look for a confirmation email soon. Questions?</p>
  <p>Customer Service: support@lemonstand.com or 1-855-332-0555</p>
  <table class="receipt-billing-info">
    <tr>
      <td>Delivery Address</td>
      <td>Delivery Method</td>
      <td>Billing Address</td>
      <td>Payment Method</td>
    </tr>
    <tr><td><hr></td></tr>
    <tr>
      <td>
        <ul>
          <li>
            {{ billingInfo.firstName }}
            {{ billingInfo.lastName }}
          </li>
          <li>{{ billingInfo.streetAddressLine1 }}</li>
          <li>
            {{ billingInfo.city }},
            {{ billingInfo.state.code }}
            {{ billingInfo.postalCode }}
          </li>
          <li>{{ billingInfo.country.name }}</li>
        </ul>
      </td>
      <td>{{ payment.guessShippingMethod().name }}</td>
      <td>{{ invoice.firstName }}</td>
      <td>{{ invoice.shippingInfo.firstName }}</td>
      <td>{{ payment.guessPaymentMethod().name }}</td>
    </tr>
  </table>
  <p><strong>Order Date: </strong> {{ invoice.order.created_at.format('M jS, Y') }}</p>

  <table class="receipt-items">
    <tr>
      <td><h2><strong>Product</strong></h2></td>
      <td><h2><strong>Qty</strong></h2></td>
      <td><h2><strong>Total</strong></h2></td>
    </tr>
    {% for shipment in invoice.shipments %}
    {% for item in shipment.shipmentItems %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity|number_format(0) }}</td>
        <td>{{ (item.quantity *item.pivot.price)|currency }}</td>
      </tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

  <p><strong>Payment method: </strong> {{ payment.guessPaymentMethod().name }}</p>


	<table>
	  <tr>
	    <th>Item</th>
	    <th>Quantity</th>
	    <th>Price</th>
	    {% if invoice.getDiscountTotal() > 0 %}
	      <th>Discount</th>
	      <th>Unit Price</th>
	    {% endif %}
	    <th>Total</th>
	  </tr>
	  {% for shipment in invoice.shipments %}
    {% for item in shipment.shipmentItems %}
    <tr>
      <td>
        <a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(80, 80)|default('http://placehold.it/80x80') }}"/></a>
          <h2><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h2>

          {% set description = item.optionsString() %}
          {% if description %}<p>{{ description|unescape }}</p>{% endif %}

      </td>
      <td><h4>{{ item.quantity|number_format(0) }}</h4></td>
      <td><h4>{{ item.base_price|currency }}</h4></td>
      {% if invoice.getDiscountTotal() > 0 %}
        <td><h4>{{ item.totalDiscount()|currency }}</h4></td>
        <td><h4>{{ item.pivot.price|currency }}</h4></td>
      {% endif %}
      <td><h4>{{ (item.quantity *item.pivot.price)|currency }}</h4></td>
    </tr>
    {% endfor %}
	  {% endfor %}
	</table>

  {% if invoice.isPaid() %}

	{% if invoice.getDiscountTotal() > 0 %}
	  <p><strong>Discount applied:</strong> <h4>{{ invoice.getDiscountTotal()|currency }}</h4></p>
	{% endif %}
	<p><strong>Subtotal:</strong> <h4>{{ invoice.subtotal|currency }}</h4></p>
	<p><strong>Sales Tax:</strong> <h4>{{ invoice.tax_total|currency }}</h4></p>
	<p><strong>Shipping:</strong> <h4>{{ invoice.total_shipping_quote|currency }}</h4></p>
	{% if invoice.order.total_shipping_tax > 0 %}
	  <p><strong>Shipping Taxes:</strong> <h4>{{ invoice.order.total_shipping_tax|currency }}</h4></p>
	{% endif %}
	<p class="subtotal"><strong>Total:</strong>  <h4>{{ invoice.total|currency }}</h4></p>

  <a class="button call-to-action" href="{{ site_url('shop') }}">Continue Shopping</a>

  {% else %}
    <p><a class="button next" href="{{ site_url('review/'~order.order_hash) }}">Place order</a></p>
  {% endif %}

{% else %}
  <div class="wrapper">
    <p class="flash error">Invoice not found.</p>  
  </div>
{% endif %}