---
action: 'shop:order'
template: main
published: true
name: Order
url: '/order/:orderId'
---
<div class="wrapper">
<h1>{{ page.title }}</h1>
{% if order %}

  <p><strong>Order number: </strong> #{{ order.number }} </p>
  {% if order.invoices[0].payments().last().guessPaymentMethod() %}
  <p><strong>Payment method: </strong> {{ order.invoices[0].payments().last().guessPaymentMethod().name }}</p>
  {% endif %}
  <p><strong>Order Date: </strong> {{ order.created_at.format('M jS, Y') }}</p>

	<table id="order-table">
	  <tr>
	    <th class="order-item-header"><h2>Item</h2></th>
	    <th class="order-quantity"><h2>Quantity</h2></th>
	    <th class="order-price"><h2>Price</h2></th>
	    <th class="order-discount"><h2>Discount</h2></th>
	    <th class="order-total"><h2>Total</h2></th>
	  </tr>
	  {% for invoice in order.invoices %}
	    {% for shipment in invoice.shipments %}
	      {% for item in shipment.shipmentItems %}
	      <tr><td><hr></td></tr>
	      <tr>
	        <td class="order-item">
	          <a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(100, 100)|default('http://placehold.it/100x100') }}"/></a>
	        </td>
	        <td class="order-name">
						<a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a>
						{% set description = item.optionsString() %}
						{% if description %}<p>{{ description|unescape }}</p>{% endif %}
					</td>
	        <td class="order-quantity">{{ item.quantity|number_format(0) }}</td>
	        <td class="order-price">{{ item.pivot.price|currency }}</td>
	        <td class="order-discount">{{ 0|currency }}</td>
	        <td class="order-total">{{ (item.quantity *item.pivot.price)|currency }}</td>
	      </tr>
	      {% endfor %}
	    {% endfor %}
	  {% endfor %}
	</table>

  {% if order.payment_method.has_payment_form() and not order.payment_processed() %}
    <a class="button" href="{{ root_url('/review/'~order.order_hash) }}">Pay the order</a>
  {% endif %}

	{% if order.total_discount %}
	  <p><strong>Discount applied:</strong> <h4>{{ order.total_discount|currency }}</h4></p>
	{% endif %}
	<p><strong>Subtotal:</strong> <h4>{{ order.subtotal_invoiced|currency }}</h4></p>
	<p><strong>Sales Tax:</strong> <h4>{{ order.total_sales_tax|currency }}</h4></p>
	<p><strong>Shipping:</strong> <h4>{{ order.total_shipping_quote|currency }}</h4></p>
	{% if order.total_shipping_tax %}
	  <p><strong>Shipping Taxes:</strong> <h4>{{ order.total_shipping_tax|currency }}</h4></p>
	{% endif %}
	<p class="subtotal"><strong>Total:</strong>  <h4>{{ order.total|currency }}</h4></p>

{% else %}
  <p class="flash error">Order not found</p>
{% endif %}
</div>