---
description: 'Default Template'
---
<!DOCTYPE html>
<html>
<head>
  {{ code_block('setup') }}

  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description" content="{{ page.description }}"/>
  <meta name="Keywords" content="{{ page.keywords }}"/>
  <link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="/cms/core.css">
  <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/main.css'|theme_resource }}">
  <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/style.css'|theme_resource }}">
  <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/responsive.css'|theme_resource }}">

  <!-- // <script type="text/javascript" src="{{ 'scripts/main.js'|theme_resource }}"></script> -->
  <script type="text/javascript" src="{{ 'scripts/jquery.js'|theme_resource }}"></script>
  <script type="text/javascript" src="{{ 'scripts/app.js'|theme_resource }}"></script>
  <script type="text/javascript" src="/cms/core.js"></script>
</head>
  <header>
    <div class="wrapper">
    <nav>

      <div id="logo">
        <a href="/">BONES</a>
      </div>
      <ul>
        <li>
          <a href="/shop">Shop</a>

          <!-- {% for category in categories %}
          <ul>
            {% if category.children %}
            <li><a href="/category/{{ category.fullUrlName }}">{{category.name}}</a></li>
            <ul>
              {% for child in category.children %}
              <li><a href="/category/{{ child.fullUrlName }}">{{child.name}}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <li><a href="/category/{{ category.fullUrlName }}">{{category.name}}</a></li>
            {% endif %}
          </ul>
          {% endfor %} -->
        </li>
        <!-- <li><a href="/search">Search</a></li> -->
        <li>
          {% if customer %}
            <a href="/logout">My Account</a>
          {% else %}
            <a href="/sign-in">Login</a>
          {% endif %}
        </li>
        <li id="cart-nav-link"><a href="/cart">Shopping Bag</a></li>
        {% if search %}
        <li>
          {{ open_form({'method': 'get', 'action': site_url('search')}) }}
          <input type="text" name="query" value="{{query|unescape}}" placeholder="Search store&hellip;"/>
          {{ close_form() }}
        </li>
        {% endif %}
      </ul>
      <!-- Current page and breadcrumbs -->

    </nav>
  </div>
  </header>
  <body>
    {{ code_block('breadcrumbs') }}
    {{ page() }}
  </body>
  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="{{ site_url('contact') }}">Contact</a></li>
        <li><a href="http://blog.lemonstand.com/">Blog</a></li>
        <li><a href="https://www.linkedin.com/company/lemonstand">Jobs</a></li>
        <li><a href="https://twitter.com/LemonStand">@LemonStand</a></li>
      </ul>
      <ul>
        <li><a href="{{ site_url('privacy') }}">Privacy</a></li>
        <li><a href="{{ site_url('security') }}">Security</a></li>
        <li><a href="{{ site_url('terms') }}">Terms of Service</a></li>
        <li><a href="{{ site_url('policies') }}">Policies</a></li>
      </ul>
      <ul id="copyright">
        <li>LemonStand Logo Here</li>
        <li>Made with LEMON ICON by <a href="https://lemonstand.com">LemonStand</a></li>
      </ul>
    </div>
  </footer>
</html>
